apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

nameSuffix: -cassieatt6240

resources:
  - deployment.yaml
  - service.yaml
  - ingress.yaml
#  - secret.yaml

configMapGenerator:
  - name: app-vars
    literals:
      - IMAGE=docker.io/cassiesouza/workshop:cassieatt6240-4
      - HOST=cassieatt6240.cie-bootcamp.co.uk
      - REPLICAS=1

replacements:
  - source:
      kind: ConfigMap
      name: app-vars
      fieldPath: data.IMAGE
    targets:
      - select:
          kind: Deployment
        fieldPaths:
          - spec.template.spec.containers.0.image

  - source:
      kind: ConfigMap
      name: app-vars
      fieldPath: data.HOST
    targets:
      - select:
          kind: Ingress
        fieldPaths:
          - spec.rules.0.host

  - source:
      kind: ConfigMap
      name: app-vars
      fieldPath: data.REPLICAS
    targets:
      - select:
          kind: Deployment
        fieldPaths:
          - spec.replicas